<div style="overflow: hidden;">
    <h1 style="margin-bottom: 0;">All installed mods</h1>
    <select name="gamesShow" id="gamesShow" style="margin-top: 5px; margin-bottom: 10px;">
        <option value="all">All</option>
    </select>
    <div style="overflow-y: scroll; overflow-x: hidden;">
        <table style="width: 100%; max-height: 200px; overflow-y: scroll;" id="modtable">
            <colgroup>
                <col style="width: 85%;">
                <col style="width: 15%;">
            </colgroup>
            <thead style="position: sticky; top: -2px;">
                <tr>
                    <th>Mod</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <div style="display: none;" class="modlist-error" id="error-banner">
                <h2>{0} mod(s) failed to load</h2>
                <span class="calibri">Click on this banner to view more details.</span>
            </div>
            <tbody id="modlist">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="padding: 10px;">
                        <div style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 10px;">
                            <button onclick="invoke('importMod',['allmods'])" style="width: 100%; padding: 10px; display: flex; align-items: center; justify-content: center; gap: 10px;">
                                <span class="material-symbols-outlined">
                                    add_box
                                </span>
                                Import a mod manually
                            </button>
                            <button id="bmodcreate" onclick="page('mod-create')" style="width: 100%; padding: 10px; display: flex; align-items: center; justify-content: center; gap: 10px;">
                                <span class="material-symbols-outlined">
                                    add_box
                                </span>
                                Create a mod manually
                            </button>
                            <button onclick="page('gamebanana-browse')" style="width: 100%; padding: 10px; display: flex; align-items: center; justify-content: center; gap: 10px;">
                                <span class="material-symbols-outlined">
                                    shopping_bag
                                </span>
                                Search mods via the Mod Shop
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <dialog class="error-list-dialog" id="error-list-dialog">
            <h2>Some mods failed to load</h2>
            <span class="calibri">Some mods didn't load correctly. Here are the details:</span>
            <div class="error-list-div" id="error-list-div">

            </div>
            <div class="error-buttons">
                <!-- forgive me for this MASSIVE onclick thing, but keeping this and allmods unified is a pain in the ass -->
                <button onclick="rew(); document.getElementById('error-list-dialog').style.animation = '0.3s closeError ease forwards'; setTimeout(() => { document.getElementById('error-list-dialog').close(); document.getElementById('error-list-dialog').style.animation = '0.3s openError ease forwards'; }, 300);" style="width: 100%; padding: 10px;">OK</button>
            </div>
        </dialog>
</div>
<style>
    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
    .fadingOut {
        animation: 0.3s fadeOut ease forwards;
    }
</style>
JSL
AUDIO[mainTheme.mp3]
STYLESHEET[../main/main]
TITLE[All installed mods]